<style>
    a{
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    .box{
        background-image: linear-gradient(to right,rgb(255, 200, 118),rgb(104, 238, 104));
        padding:2px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(103, 187, 255);
    }
    header{
        height: 10vh;
    }
  
  
</style>

<header class="box" style="">

    <h1 style="color: rgb(0, 0, 0);"><a href="/">CODIAL</a></h1>

    <div  style="width:15vw;display: flex; justify-content: space-between; align-items: center;padding: 3px; ">
        <% if (locals.user){%>
                <div  >
                    <a href="/users/profile"><%=user.name%></a>
                </div>
                <div >
                    <a href="/users/sign-out">Sign Out</a>
                </div>
        <%}else{%>
            <div >
                <a href="/users/sign-in">Sign In</a>
            </div>
            <div >
                <a href="/users/sign-up">Sign Up</a>
            </div>
        <%}%>
     </div>
</header>