<link rel="stylesheet" href="/css/sign-in-page.css">
<form>

    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" value="password">
</form>

<a href="/">Home</a>