<link rel="stylesheet" href="/css/sign-up-page.css">





<div class="log-in">
    <div class="log-in-box">
        <h1>Sign Up</h1>


        <form class="form-box" action="/users/create" method="POST">
            <input class="padd" type="text" name="name" placeholder="Name">
            <input class="padd" type="email" name="email" placeholder="Email">
            <input class="padd" type="password" name="password" placeholder="Password">
            <input class="padd" type="password" name="confirm_password" placeholder="Confirm Password">
            <input style="background-color:rgb(226, 230, 2)" type="submit" value="Sign Up">
        </form>
     
           
     </div>
</div>