<link rel="stylesheet" href="/css/sign-in-page.css">
<div class="log-in">
    <div class="log-in-box">
        <h1>Sign In </h1>
     
            <form class="form-box" action="/users/create-session" method="POST">
    
                <input class="padd" type="email" name="email" placeholder="Email" required="true">
                <input class="padd"  type="password" name="password"  placeholder="Password" >
                <input style="background-color:rgb(226, 230, 2)" type="submit" value="Sign In">
                <p>
                    <a href="/users/auth/google">Google Sign In/Sign Up</a>
                </p>
            </form>
     </div>
</div>

<p>
    <a href="/users/auth/google">Google Sign In/Sign Up</a>
</p>