body{
    background-color: rgb(188, 228, 219);
}

/* TODO box*/
.box{
  position: relative;
    background-color: rgb(4, 136, 125);
    height: 85vh;
    width: 50vw;
   margin: auto;
   margin-top: 3%;
    

}

/* heading (TODO APP ) part*/
.heading{
   
    text-align: center;
    margin-top: 3%;
    font-size: 1.7rem;
    color: aliceblue;
    padding: 2px;
    font-family: Geneva, Verdana, sans-serif;
}

/*des-box-for entering task*/
.des-box{
    
    height: 35%;
    width: auto;
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.add-del{
   
    height: 10%;
    width: auto;
    background-color: brown;
}
.view{

    height: 30%;
    width: auto;
    background-color: rgb(194, 20, 20);
}
